[submodule "1kfg-phylogenomics-tools"]
	path = 1kfg-phylogenomics-tools
	url = https://github.com/1KFG/Phylogenomics.git
	ignore = dirty
[submodule "Phylogenomics_HMMs"]
	path = Phylogenomics_HMMs
	url = https://github.com/1KFG/Phylogenomics_HMMs.git
	ignore = dirty
